{% extends "../store/base.html" %}
{% block title %}Edit Address{% endblock  %}
{% block content %}
<div class="container-fluid">
    <div class="row no-gutter">
        <div class="col-md-12">
            <div class="login d-flex align-items-center py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-lg-7 mx-auto">
                            <form class="account-form rounded col-lg-10 mx-auto" name="address_form" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <h3 class="mb-2">Edit Address</h3>
                                
                                {% if form.errors %}
                                
                                
                                <div class="alert alert-primary" role="alert">
                                    Please correct the errors
                                </div>
                                {% endif %}
                                

                                <label>{{ form.first_name.label }}
                                {{form.first_name}}
                                <label>{{ form.phone_number.label }}</label>
                                {{ form.phone_number }}
                                <label>{{ form.address.label }}</label>
                                {{form.address }}
                                <label>{{ form.postcode.label }}</label>
                                {{ form.postcode }}
                                <label>{{ form.city.label }}</label>
                                {{ form.city }}
                                <label>{{ form.state.label }}</label>
                                {{ form.state }}
                                <label>{{ form.country.label }}</label>
                                {{ form.country }}
                                <div>
                                <button class="btn btn-primary" type="submit">Add</button>
                                <button class="btn btn-primary" type="reset">Reset</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock  %}